.dataBank {
  flex: 3;
  margin-top: 25px;

  .dataBankTitle {
    text-align: center;
  }

  .contentDataBank {
    background-color: var(--border-color);
    border-radius: 7px;
    padding: 8px;
    text-align: center;
    margin-right: 30px;
    height: 72vh;
    overflow: auto;

    h2 {
      margin-bottom: 15px;
    }

    .contentDataBankRegional {
      width: 15rem;
      height: 2.5rem;
      border-radius: 10px;
      padding-left: 13px;
      font-size: 15px;
      background-color: white;
      margin: 20px 0px;
    }

    .contentDataBankInfoCheck {
      display: flex;
      flex-wrap: wrap;
      padding: 0px 20px;
      justify-content: space-between;

      .contentDataBankCheck {
        display: flex;
        align-items: center;
        width: 38%;
        height: 39px;
        margin: 0px 36px;

        .checkbox {
          width: 22px;
          height: 18px;
          border: 2px solid var(--border-color);
        }

        .checkboxLetter {
          font-size: 18px;
          margin-left: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          width: 90%;
        }
      }
    }

    .contentDataBankCheckAll {
      display: flex;
      align-items: center;
      width: 38%;
      height: 35px;
      margin: auto;
      justify-content: center;

      .checkbox {
        width: 22px;
        height: 18px;
        border: 2px solid var(--border-color);
      }

      .checkboxLetter {
        font-size: 18px;
        margin-left: 5px;
      }
    }

    .contentDataBankRubro {
      margin: 15px 0px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .contentDataBankRubroSelect {
        width: 15rem;
        height: 2.5rem;
        border-radius: 10px;
        padding-left: 13px;
        font-size: 15px;
        background-color: white;
      }
    }

    .contentDataBankButton {
      width: 10rem;
      height: 2rem;
      border-radius: 9px;
      font-size: 21px;
      border-style: none;
      color: white;
      background-color: var(--main-color);
      cursor: pointer;
      margin: 20px 0px;
    }
  }
}
