.contentLogin {
  width: 100%;
  height: 100vh;
  .contentTitleForm {
    display: flex;
    flex: 2;
    height: 75%;
    .contentLoginTitle {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 2%;

      .imgGraf {
        position: absolute;
        width: 42rem;
        left: 10%;
        top: -3%;
        z-index: -999;
      }

      h1 {
        font-size: 3.5rem;
        font-weight: 600;
        color: var(--main-color);

        &.titleSennova {
          text-align: right;
          width: 100%;
          margin-right: 5%;
        }
      }
    }

    .contentLoginForm {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .titleForm {
        color: var(--main-color);
        font-size: 3rem;
        margin-bottom: 18px;
      }

      .inputLogin {
        width: 18rem;
        height: 2rem;
        padding: 5px;
        margin-bottom: 20px;
        border: 2px solid var(--border-color);
        border-radius: 5px;
        color: #484646;
        font-size: 18px;

        &:focus {
          border: 2px solid var(--border-color);
        }
      }

      .contentLoginCheck {
        width: 19rem;
        height: 2rem;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .checkbox {
          width: 22px;
          height: 18px;
          border: 2px solid var(--border-color);
        }

        .checkboxLetter {
          margin-left: 5px;
        }
      }

      .contentLoginButton {
        width: 10rem;
        height: 2rem;
        border-radius: 9px;
        font-size: 21px;
        border-style: none;
        color: white;
        background-color: var(--main-color);
        cursor: pointer;
      }
    }
  }

  .contentLoginFooter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 20%;

    img {
      width: 25%;
    }
  }
}
