.editMaquinary {
  flex: 4;
  padding: 20px;

  .editMaquinaryTitle {
    text-align: center;
    margin-bottom: 15px;
  }

  .contentEditMaquinary {
    background-color: var(--border-color);
    border-radius: 7px;
    padding: 8px;
    text-align: center;
    padding: 15px;
    max-width: 80%;
    margin: auto;
    height: 60vh;
    overflow: auto;

    .contentEditMaquinaryGroup {
      margin: 25px 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.TextArea {
        flex-direction: column;
        align-items: unset;
      }

      .pLetter {
        font-size: 18px;
        margin-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        width: 50%;
      }

      .contentEditMaquinarySelect {
        width: 51%;
        height: 2rem;
        max-width: 21rem;
        min-width: 11rem;
        border-radius: 10px;
        padding-left: 13px;
        border: none;
        font-size: 15px;
        background-color: white;
      }

      .contentEditMaquinaryInput {
        width: 50%;
        max-width: 20rem;
        min-width: 11rem;
        height: 2rem;
        border-radius: 10px;
        padding-left: 13px;
        border: none;
        font-size: 15px;
        background-color: white;
      }
    }

    .error {
      margin-right: 35px;
      color: red;
      text-align: end;
      font-size: 14px;
      margin-top: -18px;
    }

    .contentEditMaquinaryButton {
      width: 10rem;
      height: 2rem;
      border-radius: 9px;
      font-size: 21px;
      border-style: none;
      color: white;
      background-color: var(--main-color);
      cursor: pointer;
      margin: 20px 0px;
    }
  }
}
