.newProject {
  flex: 4;
  padding: 20px;

  .newProjectTitle {
    text-align: center;
  }

  .contentNewProject {
    background-color: var(--border-color);
    border-radius: 7px;
    padding: 8px;
    text-align: center;
    padding: 15px;
    max-width: 800px;
    width: 80%;
    margin: auto;
    height: 71vh;
    overflow: auto;

    .contentNewProjectGroup {
      margin: 25px 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.TextArea {
        flex-direction: column;
        align-items: unset;
      }

      .pLetter {
        font-size: 18px;
        margin-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        width: 50%;
      }

      .contentNewProjectSelect {
        width: 51%;
        height: 2rem;
        max-width: 21rem;
        min-width: 11rem;
        border-radius: 10px;
        padding-left: 13px;
        border: none;
        font-size: 15px;
        background-color: white;
      }

      .contentNewProjectInput {
        width: 50%;
        max-width: 20rem;
        min-width: 11rem;
        height: 2rem;
        border-radius: 10px;
        padding-left: 13px;
        border: none;
        font-size: 15px;
        background-color: white;
      }
    }

    .displayOptions {
      display: none;
    }

    .contentAutores {
      .pLetter {
        font-size: 18px;
        margin-bottom: 15px;
      }

      .contentContAutores {
        .contentAutorButton {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          border-style: none;
          color: white;
          background-color: var(--main-color);
          cursor: pointer;
          margin: 20px 0px;

          .addButton {
            font-size: 2rem;
          }
        }
      }

      .rowContentAutores {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .row {
          border-radius: 15px;
          background-color: white;
          width: 250px;
          height: 150px;
          margin: 20px;
          padding: 20px;
          -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);

          .rowColumn {
            margin-bottom: 5px;
            p {
              color: #706d6d;
            }
            &.rowDate {
              display: flex;
              flex-wrap: nowrap;
            }
          }
        }
      }
    }

    .contentNewProjectButton {
      width: 10rem;
      height: 2rem;
      border-radius: 9px;
      font-size: 21px;
      border-style: none;
      color: white;
      background-color: var(--main-color);
      cursor: pointer;
      margin: 20px 0px;
    }
  }
}
